<section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <div class="col mb-5">
            <div class="card h-100 border border-primary">
              <!-- Sale badge-->
              <!-- Product image-->
              <img class="card-img-top" src="../../assets/images/headphones/179757-1200-auto.webp" alt="SONY" />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">HEADPHONE</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >S/.79.90</span
                  >
                  S/. 69.90
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                <div class="text-center col">
                  <button type="button" class="btn btn-outline-success col">
                    Agregar
                  </button>
                </div>
                <div class="text-center col">
                  <a class="btn btn-warning btn-outline-dark mt-auto" href="./detailsHeadphone.html"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100 border border-primary">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Oferta
              </div>
              <!-- Product image-->
              <img class="card-img-top" src="../../assets/images/headphones/sony.webp" alt="SONY" />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">SONY</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >S/.79.90</span
                  >
                  S/. 69.90
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                <div class="text-center col">
                  <button type="button" class="btn btn-outline-success col">
                    Agregar
                  </button>
                </div>
                <div class="text-center col">
                  <a class="btn btn-warning btn-outline-dark mt-auto" href="./detailsSony.html"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                oferta
              </div>
              <!-- Product image-->
              <img class="card-img-top" src="../../assets/images/headphones/pioner.webp" alt="PIONER" />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">PIONER</h5>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >s/.299.9</span
                  >
                  S/.179.90
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                <div class="text-center col">
                  <button type="button" class="btn btn-outline-success col">
                    Agregar
                  </button>
                </div>
                <div class="text-center col">
                  <a class="btn btn-warning btn-outline-dark mt-auto" href="./detailsPioner.html"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="../../assets/images/headphones/izuum.webp" alt="izuum" />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">IZUUM</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  S/.59.90
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                <div class="text-center col">
                  <button type="button" class="btn btn-outline-success col">
                    Agregar
                  </button>
                </div>
                <div class="text-center col">
                  <a class="btn btn-warning btn-outline-dark mt-auto" href="./detailsIzuum.html"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                oferta
              </div>
              <!-- Product image-->
              <img class="card-img-top" src="../../assets/images/headphones/beats.webp" alt="BEATS" />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">BEATS</h5>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >S/.499.90</span
                  >
                  S/.399.90
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                <div class="text-center col">
                  <button type="button" class="btn btn-outline-success col">
                    Agregar
                  </button>
                </div>
                <div class="text-center col">
                  <a class="btn btn-warning btn-outline-dark mt-auto" href="./detailsBeats.html"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>