<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>StoreMega</title>
    <!-- Favicon-->
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
   
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:ital,wght@0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
     <link rel="stylesheet" href="./../../images/headphones/headphones.css" />
      <link rel="stylesheet" href="./../../css/styles.css" />
      <link rel="stylesheet" href="./../../css/index.css" />
  </head>
  <body>
    <!-- Navigation-->
    <!-- Inicia Header 1-->
    <header class="cabecera1 p-2 mb-3 pb-0 border-bottom">
      <div class="container">
        <div class="d-flex flex-row-reverse">
          <i class="bi bi-cart-check-fill p-2"></i>
          <i id="login-btn" class="bi bi-person-fill p-2"></i>
          <a href="#"
            ><p class="p-2 register-color">Registrarse / Iniciar Sesión</p></a>
          <i class="bi bi-whatsapp p-2"></i>
          <i class="bi bi-facebook p-2"></i>
          <i class="bi bi-instagram p-2"></i>
        </div>
      </div>
    </header>

    <!-- Termina 1 Header -->

    <!-- Inicia Header 2-->
    <header class="p-1 mb-3">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="https://storemega.com"
            target="_blank"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
          >
            <img
              src="./../../images/logo.png"
              alt="Logo"
              width="134"
              height="52"
              role="img"
              class="bi me-2"
            />
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li class="navletters">
              <a href="../../index.html" class="nav-link px-2 link-secondary">Tienda</a>
            </li>
            <li class="navletters">
              <a href="../accesorios/accesorios.html" class="nav-link px-2 link-dark">Accesorios</a>
            </li>
            <li class="navletters">
              <a
                href="/components/laptops/laptops.html"
                class="nav-link px-2 link-dark"
                >Laptops</a
              >
            </li>
            <li class="navletters">
              <a href="./index.html" class="nav-link px-2 link-dark"
                >Audífonos</a
              >
            </li>
            <li class="navletters">
              <a href="/components/acerca/acerca.html" class="nav-link px-2 link-dark">Acerca de</a>
            </li>
            <li class="navletters">
              <a href="../../sections/contact.html" class="nav-link px-2 link-dark">Contacto</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Buscar..."
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </header>
    <!-- Termina 2 Header -->
    <!-- Inicia Login -->

    <div class="container">
      <div class="login-form-container">
        <div id="close-login-btn" class="fas fa-times"></div>
        <form action="">
          <h3>Iniciar sesión</h3>
          <span>usuario</span>
          <input
            type="email"
            name=""
            class="box"
            placeholder="Ingresa tu email"
            id=""
          />
          <span>Contraseña</span>
          <input
            type="password"
            name=""
            class="box"
            placeholder="Ingresa tu contraseña"
            id=""
          />
          <div class="checkbox">
            <input type="checkbox" name="" id="remember-me" />
            <label for="remember-me"> recordarme</label>
          </div>
          <input type="submit" value="Ingresar" class="btn" />
          <p>¿Olvidaste tu contraseña? <a href="#">click aquí</a></p>
          <p>¿No tienes una cuenta? <a href="#">crea una</a></p>
        </form>
      </div>
    </div>

    <!-- Termina Login -->
    <!-- Section-->
    
<div style="border-bottom:3px solid #ff9138;">
  <div class="container px-4" style="margin-bottom: 20px;">
    <div class="row gx-5">
        <div class="col">
            <img src="./../../images/headphones/beats.webp" alt="Card image" style="width:300px;">
        </div>
        <div class="col">
            <h4 class="card-title" style="margin-top:30px;">BEATS</h4>
            <p>Audífonos bluetooth in ear Beats Powerbeats 4 IPX4, micrófono incorporado, máx. 15 horas, control de volumen, negro
            <ul>
                <li>Tipo:In Ear</li>
                <li>Micrófono:Sí</li>
                <li>Conexión Bluetooth:Sí</li>
                <li>Cancelación de ruido:No</li>
                <li>Resistencia al agua:Sí</li>
                <li>Tiempo de reproducción:Hasta 15 horas</li>
                <li>Controles:Volumen</li>
              </ul>
            </p>
            <h3 class="card-text">S/ 699.90</h3>
            <a href="#" class="btn">Añadir al carrito</a>
            <a href="./detailsBeats.html" class="btn">Ver más características</a>
        </div>
    </div>
  </div>
</div>
<div style="border-bottom:3px solid #ff9138;">
  <div class="container px-4" style="margin-bottom: 20px;">
    <div class="row gx-5">
        <div class="col">
            <img src="./../../images/headphones/izuum.webp" alt="Card image" style="width:300px;">
        </div>
        <div class="col">
            <h4 class="card-title" style="margin-top:30px;">IZUUM</h4>
            <p>
              Audífonos bluetooth on ear Izuum Black Beat micrófono incorporado, máx. 5 horas, control de música y llamadas, negro
            <ul>
                <li>Tipo:On Ear</li>
                <li>Micrófono:Sí</li>
                <li>Conexión Bluetooth:Sí</li>
                <li>Inalámbrico:Sí</li>
                <li>Cancelación de ruido:No</li>
                <li>Resistencia al agua:No</li>
                <li>Tiempo de reproducción:Hasta 5 horas</li>
                <li>Controles:Control de música y llamadas incorporado</li>

            </ul>
            </p>
            <h3 class="card-text">S/ 3,299.00</h3>
            <a href="#" class="btn">Añadir al carrito</a>
            <a href="./detailsIzuum.html" class="btn">Ver más características</a>
        </div>
    </div>
  </div>
</div>
<div style="border-bottom:3px solid #ff9138;">
  <div class="container px-4" style="margin-bottom: 20px;">
    <div class="row gx-5">
        <div class="col">
            <img src="./../../images/headphones/motorola1.webp" alt="Card image" style="width:300px;">
        </div>
        <div class="col">
            <h4 class="card-title" style="margin-top:30px;">MOTOROLA</h4>
            Audífonos on ear con micrófono Motorola Pulse 200 Bass almohadillas acolchadas, conector 3.5 mm, control de llamadas, comandos de voz, negro
            <p>
            <ul>
                <li>Tipo:Over Ear</li>
                <li>Micrófono:Sí</li>
                <li>Conexión Bluetooth:No</li>
                <li>Inalámbrico:No</li>
                <li>Conexión Auxiliar:Sí</li>
                <li>Comandos de voz:Comandos De Voz Siri, Google Now y Alexa</li>

            </ul>
            </p>
            <h3 class="card-text">S/ 3,299.00</h3>
            <a href="#" class="btn">Añadir al carrito</a>
            <a href="./detailsHeadphone.html" class="btn">Ver más características</a>
        </div>
    </div>
  </div>
</div>
<div style="border-bottom:3px solid #ff9138;">
  <div class="container px-4" style="margin-bottom: 20px;">
    <div class="row gx-5">
        <div class="col">
            <img src="./../../images/headphones/sony.webp" alt="Card image" style="width:300px;">
        </div>
        <div class="col">
            <h4 class="card-title" style="margin-top:30px;">SONY</h4>
            <p>
              Audífonos on ear con micrófono Sony MDRZX310AP almohadillas acolchadas, conector 3.5 mm, control de llamadas, negro
            <ul>
                <li>Tipo:On Ear</li>
                <li>Micrófono:Sí</li>
                <li>Conexión Bluetooth:No</li>
                <li>Cancelación de ruido:No</li>
                <li>Resistencia al agua:No</li>
                <li>Controles:Botón de control</li>
                <li>Longitud de cable: 1.2 m</li>
            </ul>
            </p>
            <h3 class="card-text">S/ 69.00</h3>
            <a href="#" class="btn">Añadir al carrito</a>
            <a href="./detailsSony.html" class="btn">Ver más características</a>
        </div>
    </div>
  </div>
</div>
<div style="border-bottom:3px solid #ff9138;">
  <div class="container px-4" style="margin-bottom: 20px;">
    <div class="row gx-5">
        <div class="col">
            <img src="./../../images/headphones/pioner.webp" alt="Card image" style="width:300px;">
        </div>
        <div class="col">
            <h4 class="card-title" style="margin-top:30px;">PIONER</h4>
            Audífonos on ear con micrófono Pioneer Extreme Bass almohadillas acolchadas, conector 3.5 mm, control de llamadas, blanco
            <p>
            <ul>
                <li>Tipo:On Ear</li>
                <li>Micrófono:Sí</li>
                <li>Conexión Bluetooth:No</li>
                <li>Inalámbrico:No</li>
                <li>Impedancia (Ohmios):32 Ohm</li>
            </ul>
            </p>
            <h3 class="card-text">S/ 179.90</h3>
            <a href="#" class="btn">Añadir al carrito</a>
            <a href="./detailsPioner.html" class="btn">Ver más características</a>
        </div>
    </div>
  </div>
</div>
    <div class="container">
      <footer align="center" class="py-5 px-5">
        <div class="row">
          <div class="col mb-3">
            <h5><b>Nosotros</b></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="./../../components/acerca/acerca.html" class="nav-link p-0 text-muted">Acerca de</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Contacto</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">FAQs</a>
              </li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5><b>Políticas de Privacidad</b></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Seguridad</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Privacidad</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Términos de uso</a>
              </li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5><b>Ayuda</b></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Devoluciones</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Pagos</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Envíos</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Cuenta</a>
              </li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5><b>Redes sociales</b></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Facebook</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Instagram</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Twitter</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">YouTube</a>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top mb-0"
        >
          <div class="col px-5" align="left">
            <h5><b>Nuestro email</b></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >contacto@storemega.com</a
                >
              </li>
            </ul>
          </div>

          <a
            href="https://storemega.com"
            target="_blank"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
          >
            <img
              src="../../images/logo.png"
              alt="Logo"
              width="134"
              height="52"
              role="img"
              class="bi me-2"
            />
          </a>
          <div class="col px-5" align="right">
            <h5><b>Contáctanos</b></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Miraflores, Lima<br />+51 987 456 321</a
                >
              </li>
            </ul>
          </div>
        </div>
        <p>© 2022 Company, Inc. All rights reserved.</p>
      </footer>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="./../../js/script.js"></script>
    <!-- Inicia script -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Termina script -->
  </body>
</html>
