<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto</title>
  <link rel="stylesheet" href="CSS/accesorios.css">

<!--inicio-->
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:ital,wght@0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
<!-- Fin-->

</head>
<body>

<!--Inicio Cabecera-->

<header class="cabecera1 p-2 mb-3 pb-0 border-bottom">
  <div class="container">
    <div class="d-flex flex-row-reverse">
      <i class="bi bi-cart-check-fill p-2"></i>
      <i id="login-btn" class="bi bi-person-fill p-2"></i>
      <a href="#"
        ><p class="p-2 register-color">Registrarse / Iniciar Sesión</p></a
      >
      <i class="bi bi-whatsapp p-2"></i>
      <i class="bi bi-facebook p-2"></i>
      <i class="bi bi-instagram p-2"></i>
    </div>
  </div>
</header>

<!--Fin Cabecera-->


<!--Inicio Nav-->

  <header class="p-1 mb-3">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="https://storemega.com"
          target="_blank"
          class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
        >
          <img
            src="img/logo_2.png"
            alt="Logo"
            width="134"
            height="52"
            role="img"
            class="bi me-2"
          />
        </a>

        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li class="navletters">
            <a href="#" class="nav-link px-2 link-secondary">Tienda</a>
          </li>
          <li class="navletters">
            <a href="#" class="nav-link px-2 link-dark">Accesorios</a>
          </li>
          <li class="navletters">
            <a
              href="./components/laptops/laptops.html"
              class="nav-link px-2 link-dark"
              >Laptops</a
            >
          </li>
          <li class="navletters">
            <a
              href="./components/audifonos/index.html"
              class="nav-link px-2 link-dark"
              >Audífonos</a
            >
          </li>
          <li class="navletters">
            <a href="#" class="nav-link px-2 link-dark">Acerca de</a>
          </li>
          <li class="navletters">
            <a href="#" class="nav-link px-2 link-dark">Contacto</a>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input
            type="search"
            class="form-control"
            placeholder="Buscar..."
            aria-label="Search"
          />
        </form>
      </div>
    </div>
  </header>

<!--Fin Nav-->

  <div class="btn-access">
    <section>
      <h2> SOPORTE PARA MESA Y ESCRITORIO</h2>
        <div class="card estilo-c">
          <a href="#">
            <div class="img-container">
              <img src="https://coolboxpe.vtexassets.com/arquivos/ids/231873-500-auto?v=1753212121&width=500&height=auto&aspect=true" alt="producto 1">
              <span class="promo">Mega Vendido</span>
            </div>
           </a>
          <div class="info-container">
            <h3>AKN</h3>
            <strong>S/. 129.90</strong>
            <div>
              <p>Soporte y billetera Moft para <br> celular 4,7" a más, marrón</p>
            </div>
            <div>
              <ul class="lista">
                <li>Tipo: <b>Soporte</b></li>
                <li>Color: <b>Marrón</b></li>
                <li>Compatible: <b>Teléfono de 4,7" o más grandes.</b></li>
                <li>Material: <b>Cuero vegano, fibra de vidrio, imanes, láminas de metal</b></li>
              </ul>
            </div>
            <div class="rating-div"><span class="rating">★★★★☆</span></div>
            <a href="#" class="add-cart">Añadir al carrito</a>
          </div>
        </div>
        <div class="card estilo-c">
          <a href="#">
            <div class="img-container">
              <img src="https://coolboxpe.vtexassets.com/arquivos/ids/231869-500-auto?v=1753212149&width=500&height=auto&aspect=true" alt="producto 1">
              <span class="promo">Mega Vendido</span>
            </div>
            </a>
          <div class="info-container">
            <h3>AKN</h3>
            <strong>S/. 129.90</strong>
            <div>
              <p>Soporte y billetera Moft para <br> celular 4,7" a más, marrón</p>
            </div>
            <div>
              <ul class="lista">
                <li>Tipo: <b>Soporte</b></li>
                <li>Color: <b>Naranja</b></li>
                <li>Compatible: <b>Teléfono de 4,7" o más grandes.</b></li>
                <li>Material: <b>Cuero vegano, fibra de vidrio, imanes, láminas de metal</b></li>
              </ul>
            </div>
            <div class="rating-div"><span class="rating">★★★★☆</span></div>
            <a href="#" class="add-cart">Añadir al carrito</a>
          </div>
        </div>
        <div class="card estilo-c">
          <a href="#">
            <div class="img-container">
              <img src="https://coolboxpe.vtexassets.com/arquivos/ids/231866-500-auto?v=1753212011&width=500&height=auto&aspect=true" alt="producto 1">
              <span class="promo">Mega Vendido</span>
            </div>
            </a>
          <div class="info-container">
            <h3>MOFT</h3>
            <strong>S/. 129.90</strong>
            <div>
              <p>Soporte y billetera Moft para <br> celular 4,7" a más, marrón</p>
            </div>
            <div>
              <ul class="lista">
                <li>Tipo: <b>Soporte</b></li>
                <li>Color: <b>Negro</b></li>
                <li>Compatible: <b>Teléfono de 4,7" o más grandes.</b></li>
                <li>Material: <b>Cuero vegano, fibra de vidrio, imanes, láminas de metal</b></li>
              </ul>
            </div>  
            <div class="rating-div"><span class="rating">★★★★☆</span></div>
            <a href="#" class="add-cart">Añadir al carrito</a>
          </div>
    </section> 
    <section>
      <div class="card estilo-c">
        <a href="#">
          <div class="img-container">
            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/231863-500-auto?v=1753212126&width=500&height=auto&aspect=true" alt="producto 1">
          </div>
          </a>
        <div class="info-container">
          <h3>MOFT</h3>
          <strong>S/. 129.90</strong>
          <div>
            <p>Soporte y billetera Moft para <br> celular 4,7" a más, marrón</p>
          </div>
          <div>
            <ul class="lista">
              <li>Tipo: <b>Soporte</b></li>
              <li>Color: <b>Negro</b></li>
              <li>Compatible: <b>Teléfono de 4,7" o más grandes.</b></li>
              <li>Material: <b>Cuero vegano, fibra de vidrio, imanes, láminas de metal</b></li>
            </ul>
          </div>  
          <div class="rating-div"><span class="rating">★★★★☆</span></div>
          <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="https://coolboxpe.vtexassets.com/arquivos/ids/228510-500-auto?v=1753212080&width=500&height=auto&aspect=true" alt="producto 1">
        </div>
        </a>
      <div class="info-container">
        <h3>G MOBILE</h3>
        <strong>S/. 49.90</strong>
        <div>
          <p>Estabilizador Dji Osmo Mobile 3<br> hasta 28.5 cm</p>
        </div>
        <div>
          <ul class="lista">
            <li>Tipo: <b>Soporte</b></li>
            <li>Color: <b>Negro</b></li>
            <li>Compatible: <b>Teléfono de 4,7" o más grandes.</b></li>
            <li>Material: <b>Cuero vegano, fibra de vidrio, imanes, láminas de metal</b></li>
          </ul>
        </div>  
        <div class="rating-div"><span class="rating">★★★★☆</span></div>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
  </div>
  <div class="card estilo-c">
    <a href="#">
      <div class="img-container">
        <img src="https://coolboxpe.vtexassets.com/arquivos/ids/185657-500-auto?v=1753283473&width=500&height=auto&aspect=true" alt="producto 1">
      </div>
      </a>
    <div class="info-container">
      <h3>DJI</h3>
      <strong>S/. 49.90</strong>
      <div>
        <p>Estabilizador Dji Osmo Mobile 3<br> hasta 28.5 cm</p>
      </div>
      <div>
        <ul class="lista">
          <li>Tipo: <b>Soporte</b></li>
          <li>Color: <b>Negro</b></li>
          <li>Compatible: <b>Teléfono de 4,7" o más grandes.</b></li>
          <li>Material: <b>Cuero vegano, fibra de vidrio, imanes, láminas de metal</b></li>
        </ul>
      </div>  
      <div class="rating-div"><span class="rating">★★★★☆</span></div>
      <a href="#" class="add-cart">Añadir al carrito</a>
    </div>
  </div>
    </section>
    <section>
      <div class="card estilo-c">
        <a href="#">
          <div class="img-container">
            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/216524-500-auto?v=1753373659&width=500&height=auto&aspect=true" alt="producto 1">
          </div>
          </a>
        <div class="info-container">
          <h3>G MOBILE</h3>
          <strong>S/. 24.90</strong>
          <div>
            <p>Selfie stick G Mobile mini GT-037,<br> función trípode, negro</p>
          </div>
          <div>
            <ul class="lista">
              <li>Tipo: <b>Tripo D</b></li>
              <li>Color: <b>Gris</b></li>
              <li>Compatible: <b>iPhone y Samsung</b></li>
              <li>Blouetooth: <b>No</b></li>
              <li>Funcion de soporte: <b>Ajustable</b></li>
            </ul>
          </div>  
          <div class="rating-div"><span class="rating">★★★★☆</span></div>
          <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="https://coolboxpe.vtexassets.com/arquivos/ids/190371-500-auto?v=1753362840&width=500&height=auto&aspect=true" alt="producto 1">
        </div>
        </a>
      <div class="info-container">
        <h3>DJI</h3>
        <strong>S/. 599.00</strong>
        <div>
          <p>Estabilizador DJI Osmo Mobile <br> 5 hasta 26.45 cm</p>
        </div>
        <div>
          <ul class="lista">
            <li>Coloe: <b>Blanco</b></li>
            <li>Bluetooth: <b>Si</b></li>
            <li>Bateria: <b>Tiempo de bateria 6.4 horas</b></li>
            <li>Contenido de Caja: <b>DJI OM5</b></li>
          </ul>
        </div>  
        <div class="rating-div"><span class="rating">★★★★☆</span></div>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
  </div>
  <div class="card estilo-c">
    <a href="#">
      <div class="img-container">
        <img src="https://coolboxpe.vtexassets.com/arquivos/ids/186045-500-auto?v=1753355768&width=500&height=auto&aspect=true" alt="producto 1">
      </div>
      </a>
    <div class="info-container">
      <h3>BASEUS</h3>
      <strong>S/. 199.90</strong>
      <div>
        <p>Estabilizador uniaxial Baseus Lovely plegable,<br>bluetooth, 72cm, negro/p>
      </div>
      <div>
        <ul class="lista">
          <li>Tipo: <b>Tripodes</b></li>
          <li>Color: <b>Negro</b></li>
          <li>Compatible: <b>Celulares</b></li>
          <li>Bluetooth: <b>Si</b></li>
        </ul>
      </div>  
      <div class="rating-div"><span class="rating">★★★★☆</span></div>
      <a href="#" class="add-cart">Añadir al carrito</a>
    </div>
  </div>
    </section>
  </div>     
</body>
</html>